#page1 .content {
	flex-basis: calc(100% / 4);
}
#page1 img {
	margin-top: -44px;
	margin-bottom: -30px;
	width: 65%;
}
#page1 .php img {
	margin-top: -35px;
	margin-bottom: -38px;
}
#page1 .c img {
	margin-top: 0;
	margin-bottom: 0;
	width: 40%;
}
#page1 small {
	display: block;
	margin-bottom: 3em;
}
#page1 .content:nth-of-type(n+5) small {
	margin-top: -1em;
}

#page2 .bottom {
	margin-top: 5em;
}
#page2 .content,
#page3 .content,
#page7 .content,
#page8 .content,
#page9 .content {
	flex-basis: calc(100% / 3);
}
#page2 .logo,
#page7 .logo {
	width: 50%;
}

#page3 .content {
	position: relative;
}
#page3 .title {
	margin-bottom: 1em;
}
#page3 img {
	width: 50%;
}

#page4 .bottom,
#page5 .bottom,
#page6 .bottom {
	align-items: center;
	justify-content: center;
	margin-top: 0;
}
#page4 .content,
#page5 .content,
#page6 .content {
	flex-basis: calc(100% / 3);
	font-weight: bold;
}
#page4 .logo,
#page5 .logo,
#page6 .logo {
	width: 50%;
}
#page4 .sample,
#page5 .sample,
#page6 .sample {
	width: 60%;
}

#page7 .content {
	margin-top: 4em;
}

#page8 img {
	width: 80%;
}

#page9 .content {
	flex-basis: calc(100% / 4);
	position: relative;
}
#page9 img {
	width: 50%;
}
#page9 .arrow {
	top: 6.5em;
	right: -1.5em;
}
#page9 .content p {
	margin-bottom: .5em;
}
#page9 .content:nth-of-type(n+3) .title {
	margin: 7.5px;
}
#page9 small,
#page11 small {
	display: block;
}
#page9 .line{
	font-size: 10vw;
}

#page10 .content {
	flex-basis: calc(100% / 3);
}
#page10 small {
	display: block;
	font-size: .85em;
}
#page10 img {
	width: 45%;
}

#page11 .content {
	flex-basis: 50%;
}
#page11 img {
	width: 40%;
}

#page12 .bottom {
	justify-content: center;
}
#page12 .content {
	flex-basis: calc(100% / 3);
}
#page12 img {
	width: 60%;
}
#page12 .x:after {
	font-size: 25vw;
}

#endModal button {
	margin: 1em 0;
}