* {
	opacity: .8;
	transition: all .15s ease-out;
}
.not-opa {
	opacity: 1;
}
.not-trans {
	transition: none;
}


button {
	cursor: pointer;
    outline: none;
    appearance: none;
    padding: .5em 1em;
    line-height: 1;
    border-radius: 5px;
    opacity: 0.8;
    font-weight: bold;
    box-shadow: 0 9px 1.5em -1em #000;
    margin-top: 6px;
}
button:hover {
	box-shadow: 0 5px 1.5em -1em #000;
	margin-top: 6px;
}

/*カラーバリエーション*/
body.color-mono {
	background: #000;
	color: #000;
}
button.color-mono {
	background: linear-gradient(to top, #eee, #fff);
	border: 4px solid #000;
	border-bottom: 10px solid #000;
}
button.color-mono:hover {
	border-bottom: 4px solid #000;
}