*::-webkit-scrollbar {
	display: none;
}
body {
	margin: 0;
	padding: 0;
	font-family: "Open Sans", sans-serif;
	box-sizing: border-box;
	background-color: gray; 
	background: linear-gradient(to bottom,#555,#333);
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	font-family: "Quicksand", "M PLUS Rounded 1c", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
	font-weight: 300;
	font-size: 1em;
}
*:link,
*:visited {
	color: inherit;
	text-decoration: none;
}
.swiper-container {
	background: radial-gradient(
		circle at center center,
		rgb(242, 252, 255) 0%,
		rgb(173, 217, 228) 100%
	);
	margin: 2.5vh 2vw;
    width: 96vw;
    height: 95vh;
    box-sizing: border-box;
    padding-top: 5%;
    overflow: hidden;
}
.swiper-wrapper {
	height: calc(100% - 100px);
}
.swiper-slide {
	padding: 0 5vw;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*スライド共通*/
.text-only {
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
h1{
	margin-top: 0;
	font-size: 2.5em;
	font-weight: 300;
}
h2{
	margin-top: 0;
	font-size: 2em;
	font-weight: 300;
}
h3 {
	margin: 0;
	font-size: 1em;
	font-weight: bold;
}
p {
	margin: 0;
}
.copyRight {
	font-size: 10px;
	text-align: right;
	line-height: 1;
	opacity: .5;
}
small {
	font-size: 10px;
}
.top,
.bottom {
	display: flex;
}
.bottom {
	margin-top: 1.5em;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-grow: 1;
	align-content: space-around;
}
.top .title {
	padding-left: 10%;
	flex-basis: 50%;
	margin: 0;
	box-sizing: border-box;
}
.top .text {
	flex-basis: 50%;
}
.bottom .content {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

/*モーダルウィンドウ*/
#endModal {
	transition: opacity .3s;
	z-index: 1;
	opacity: 0;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0,0,0,.5);
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.modalWindow {
	font-family: "Lato", "Hiragino Maru Gothic Pro", "Meiryo UI", Meiryo, "MS PGothic", sans-serif;
	position: relative;
	margin: 0 auto;
	background: white;
	border-radius: 5px;
	color: #808080;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-basis: 70vw;
    height: 70vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.22) 0px 10px 18px;
    text-align: center;
}
.modalWindow p {
	margin-bottom: 1.5em;
}
button {
	font-size: 1em;
	outline: none;
	border: none;
	padding: 1em 2em;
	transition: all 0.2s ease;
	background-color: #2abc8f;
	color: white;
}
button:hover {
	background-color: #239b76;
}

/* navボタン等 */
nav {
	position: fixed;
	width: 110px;
	height: 110px;
	right: 50px;
    bottom: 15px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.prev,
.next {
	padding: 0;
	box-sizing: border-box;
	width: 22px;
	height: 22px;
	opacity: .7;
	cursor: pointer;
	border: 12px solid transparent;
	background: none;
	outline: none;
}
.prev {
	border-right: 22px solid #3b759e;
}
.next {
	border-left: 22px solid #3b759e;
}